#run{
	font-family: 'Cormorant Garamond', serif;
	margin-top: 1em;
	font-size: 5vw;
}

#root .Game{
	height: 100vh;
}

button {
	margin: 0.1em;
}

.progress {
	margin-bottom: 1em;
}

#topBar {
	width:100vw;
}

.topBarText{
	padding-top: 40px;
}

#topBarDiv {
	display: 'block';
}

#errorNotif{
	margin-top: 0.5em;
	width: 100vw;
	position: absolute;
}
